apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: deploymentgroups.k8-deploymentgroups.io
spec:
  group: k8-deploymentgroups.io
  names:
    kind: DeploymentGroup
    listKind: DeploymentGroupList
    plural: deploymentgroups
    singular: deploymentgroup
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            type: object
            properties:
              items:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      description: Name of the Deployment (must be in the same namespace as the DeploymentGroup)
                      type: string
                    targetReplicas:
                      description: TargetReplicas specifies the desired replicas when the dependency is met.
                      type: integer
                      format: int32
                    dependsOn:
                      description: DependsOn is a list of names of other DeploymentItems in this group that must be Ready first
                      type: array
                      items:
                        type: string
                  required:
                  - name
            required:
            - items
          status:
            type: object
            properties:
              conditions:
                type: array
                items:
                  type: object
                  properties:
                    lastTransitionTime:
                      type: string
                      format: date-time
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
              readyItems:
                type: array
                items:
                  type: string
    subresources:
      status: {}
