apiVersion: v1
kind: ServiceAccount
metadata:
  name: deploymentgroup-controller-manager
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: deploymentgroup-manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments/status
  verbs:
  - get
- apiGroups:
  - k8-deploymentgroups.io
  resources:
  - deploymentgroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8-deploymentgroups.io
  resources:
  - deploymentgroups/finalizers
  verbs:
  - update
- apiGroups:
  - k8-deploymentgroups.io
  resources:
  - deploymentgroups/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: deploymentgroup-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: deploymentgroup-manager-role
subjects:
- kind: ServiceAccount
  name: deploymentgroup-controller-manager
  namespace: default
